<table class="ui compact celled definition table">

  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Type</th>
      <th>Opportunities</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |usr|}}
      <tr>
        <td>
          {{input type="checkbox" class="checkbox" checked=false disabled=false}}
        </td>
        <td>{{usr.username}}</td>
        <td>{{usr.type}}</td>
        <td>{{usr.numOpportunities}}</td>
        <td>
          {{input type="checkbox" class="checkbox" checked=usr.active disabled=true}}
        </td>
      </tr>
    {{/each}}

  </tbody>

  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <div class="ui right floated small button">
          New User
        </div>
        <div class="ui right floated small button disabled">
          Delete User
        </div>
      </th>
    </tr>
  </tfoot>

</table>
