<table class="ui compact celled definition table">

  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Type</th>
      <th>Opportunities</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |usr|}}
      <tr>
        <td>
          {{input type="checkbox" checkedBinding="selected" class="checkbox" disabled=false change=(action 'onSelection' usr) checked=usr.selected}}
        </td>
        <td>{{usr.username}}</td>
        <td>{{usr.type}}</td>
        <td>{{usr.numOpportunities}}</td>
        <td>
          {{input type="checkbox" class="checkbox" checked=usr.active disabled=true}}
        </td>
      </tr>
    {{/each}}

  </tbody>

  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        {{#link-to 'users.new' tagName='div' class="ui right floated small button" activeClass=""}}
          New User
        {{/link-to}}

        {{confirm-delete isDisabled=disableDelete}}
        <!-- {{input type="button"
          value="Delete User"
          class="ui right floated small button"
          click=(action "openInviteForm")
          disabled=disableDelete}} -->
      </th>
    </tr>
  </tfoot>
</table>
