<table class="ui compact celled definition table">

  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Type</th>
      <th>Opportunities</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |usr|}}

      <tr>
        <td>
          {{input type="checkbox" checked="selected" class="checkbox"
          disabled=false change=(action 'onSelection' usr) checked=usr.selected}}
        </td>
        <td>
          {{#link-to "users.user.detail" usr clss="row-link"}}
            {{usr.username}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "users.user.detail" usr clss="row-link"}}
            {{usr.type}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "users.user.detail" usr clss="row-link"}}
            {{usr.numOpportunities}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "users.user.detail" usr clss="row-link"}}
            {{input type="checkbox" class="checkbox" checked=usr.active disabled=true}}
          {{/link-to}}
        </td>
      </tr>

    {{/each}}

  </tbody>

  <tfoot class="full-width">
    <tr>
      <th colspan="5">


        <!-- <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Add User
        </div> -->
        {{new-user onCreate=(action 'didCreateUser')
        class="ui right floated"}}

        {{confirm-delete
          tagName="div"
          isDisabled=disableDelete
          deletableRecords=selectedItems
          title='Confirm Delete'
          recordType='User'
          class="small right-confirm-btn"
          message='The selected users will be deleted. Continue?'}}

      </th>
    </tr>
  </tfoot>
</table>
