<table class="ui compact celled definition table">

  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Type</th>
      <th>Opportunities</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |usr|}}
      <tr>
        <td>
          {{input type="checkbox" class="checkbox" checked=false disabled=false change=(action 'onSelection')}}
        </td>
        <td>{{usr.username}}</td>
        <td>{{usr.type}}</td>
        <td>{{usr.numOpportunities}}</td>
        <td>
          {{input type="checkbox" class="checkbox" checked=usr.active disabled=true}}
        </td>
      </tr>
    {{/each}}

  </tbody>

  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        {{#link-to 'users.new' tagName='div' class="ui right floated small button" activeClass=""}}
          New User
        {{/link-to}}

        <div class="ui right floated small button" {{action 'launchConfirmDialog'}} disabled={{disableDelete}}>
          Delete User
        </div>
      </th>
    </tr>
  </tfoot>

</table>
{{#if confirmShown}}
  <div class="confirm-dialog">
    The selected users will be deleted. Continue?
    <div class="ui right floated small button" {{action "submitConfirm"}}>OK</div>
    <div class="ui right floated small button" {{action "cancelConfirm"}}>Cancel</div>
  </div>
{{/if}}
