<table class="ui table ui-table">

  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Type</th>
      <th>Opportunities</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |usr|}}
      <tr>
        <td>
          {{input type="checkbox" class="" checked=false disabled=false}}
        </td>
        <td>{{usr.username}}</td>
        <td>{{usr.type}}</td>
        <td>{{usr.numOpportunities}}</td>
        <td>
          {{input type="checkbox" class="" checked=usr.active disabled=true}}
        </td>
      </tr>
    {{/each}}

  </tbody>

</table>
