<!-- <div class="advanced-search-component"> -->
<div class='small-placeholder'></div>

{{#ui-dropdown onShow=(action 'onDropdownBeforeShow')
showOnFocus=false
class="ui floating dropdown icon button adv-search-dropdown advanced-search-component"}}

  <div class="ui icon input adv-search-input">
    <i class="search icon adv-search-icon-left"></i>
    {{input value=searchString key-press=(action (mut searchString)) action="onSearchClick" class="prompt advanced-srch"}}
    <!-- <input class="prompt search advanced-search" type="text" > -->
  </div>

  {{input type="button" value="Search" class="ui button adv-search-btn" click=(action "onSearchClick")}}


    <i id="dropTrigger" class="dropdown icon dark-gray-bg"></i>
      <div class="menu adv-search-menu">
        <div class="ui field">
          {{ui-checkbox
            class="toggle"
            label="New (last 30 days)"
            checked=lastThirtyDays
            onChange=(action 'onLastThirtyChange')}}
          <div class="item fake-item"></div>
          <br/><br/>
        </div>
        <div class="ui field gap1" >
          <span class="menu-label">Date Entered</span>
          {{custom-date-picker
            btnLabel=''
            inputClass='seventy-p cust-date-field'
            disabled=notUsingDateEntered
            date=dateEntered
            class='adv-search-field'
            updatedDate='onDateEntered'}}
        </div>
        <div class="ui field gap1">
          <span class="menu-label">Date Range</span><br/>
          {{custom-date-picker btnLabel='Start'
          disabled=notUsingDateRange
          date=startDate
          inputClass='fifty-p cust-date-field'
          class='adv-search-field'
          updatedDate='onStartDate'}}
          {{custom-date-picker
            btnLabel='End'
            inputClass='fifty-p cust-date-field'
            disabled=notUsingDateRange
            date=endDate
            class='gap1 adv-search-field'
            updatedDate='onEndDate'}}
        </div>
        <div class="ui field gap1" >
          <span class="menu-label ">Estimated Production Date</span><br/>
          {{custom-date-picker
            inputClass='seventy-p cust-date-field'
            btnLabel=''
            disabled=notUsingEstProdDate
            date=estimatedProdDate
            class='adv-search-field'
            updateDate='onEstProductionDate'}}
        </div>

      <div class="divider gap1"></div>

      <div class="ui field">
        <div class="row ui buttons gap1">
          {{ui-radio
            name="sStatus"
            current=searchedStatus
            class="make-me-button button"
            label="Backburner"
            value="Backburner"
            onChange=(action (mut searchedStatus))}}

          {{ui-radio
            name="sStatus"
            current=searchedStatus
            class="make-me-button button"
            label="Won"
            value="Won"
            onChange=(action (mut searchedStatus))}}

          {{ui-radio
            name="sStatus"
            current=searchedStatus
            class="make-me-button button"
            label="Lost"
            value="Lost"
            onChange=(action (mut searchedStatus))}}

          {{ui-radio
            name="sStatus"
            current=searchedStatus
            class="make-me-button button"
            label="None"
            value=""
            onChange=(action (mut searchedState))}}
        </div>
        <!-- <div class="ui buttons gap1">

          <button class="ui button">Won</button>
          <button class="ui button">Lost</button>
          <button class="ui button">Backburner</button>
        </div> -->
      </div>
      <div class="ui field">
        <br/>
        <div class="ui buttons fluid gap1">
          {{ui-radio
            name="sState"
            current=searchedState
            class="make-me-button button"
            label="Open"
            value="Open"
            onChange=(action (mut searchedState))}}

          {{ui-radio
            name="sState"
            current=searchedState
            class="make-me-button button"
            label="Closed"
            value="Closed"
            onChange=(action (mut searchedState))}}
          <!-- <button class="ui button">Open</button>
          <button class="ui button">Closed</button> -->
        </div>
      </div>

    </div>

{{/ui-dropdown}}

  {{#if searchUsed}}
    <span class="ui icon" data-position="bottom left" data-tooltip="Clear Search" {{action 'clearSearch'}} >
      <i class="close large icon"></i>
    </span>
    <!-- <i class="close large icon clear-search-btn" {{action 'clearSearch'}} data-tooltip='Clear Search'></i> -->
  {{/if}}


  <div class="ui buttons right floated download-csv-btn">
    <button id='csvBtn' class="ui button csv-btn inline block" {{action 'pullEntireCSV'}}>Download CSV</button>
    <button id='filteredCsvBtn' disabled={{enableFilteredCSV}} class="ui icon button dark-gray-bg" {{action 'pullFilteredCSV'}}>
      <i class="filter icon"></i>
    </button>
  </div>

<!-- </div> -->
