{{#ui-search class="advanced-search-component" }}

  <div class="ui icon input adv-search-input">
    <i class="search icon adv-search-icon-left"></i>
    <input class="prompt search advanced-search" type="text" >
  </div>

  {{input type="button" value="Search" class="ui button adv-search-btn" click=(action "onSearchClick")}}

  {{#ui-dropdown class="ui floating dropdown icon button adv-search-dropdown"}}

    <i class="dropdown icon"></i>
    <div class="menu adv-search-menu">

      {{ui-checkbox label="New (last 30 days)" checked=true onChange=(action (mut checked))}}
      <div class="item fake-item"></div>
      <br/><br/>
      <span class="menu-label gap1" >Date Entered</span>
      {{custom-date-picker btnLabel=''}}
      <br/>
      <span class="menu-label gap1">Date Range</span><br/>
      {{custom-date-picker btnLabel='Start'}}
      {{custom-date-picker btnLabel='End' class='gap1'}}

      <div class="divider gap1"></div>

      <div class="ui buttons gap1">
        <button class="ui button">Won</button>
        <button class="ui button">Lost</button>
        <button class="ui button">Backburner</button>
      </div>
      <br/>
      <div class="ui buttons fluid gap1">
        <button class="ui button">Open</button>
        <button class="ui button">Closed</button>
      </div>

    </div>

  {{/ui-dropdown}}
{{/ui-search}}
