{{#ui-search class="advanced-search-component" }}

  <div class="ui icon input adv-search-input">
    <i class="search icon adv-search-icon-left"></i>
    <input class="prompt search advanced-search" type="text" >
  </div>

  {{input type="button" value="Search" class="ui button adv-search-btn" click=(action "onSearchClick")}}

  {{#ui-dropdown
    class="ui floating dropdown icon button adv-search-dropdown"
  }}

    <i class="dropdown icon"></i>
    <div class="menu adv-search-menu">
      <div class="ui field">
        {{ui-checkbox label="New (last 30 days)" checked=lastThirtyDays onChange=(action 'onLastThirtyChange' lastThirtyDays)}}
        <div class="item fake-item"></div>
        <br/><br/>
      </div>
      <div class="ui field gap1" >
        <span class="menu-label">Date Entered</span>
        {{custom-date-picker
          btnLabel=''
          disabled=notUsingDateEntered
          inputWidth="200px"
          class='adv-search-field'
          updatedDate='onDateEntered'}}
      </div>
      <div class="ui field gap1">
        <span class="menu-label">Date Range</span><br/>
        {{custom-date-picker btnLabel='Start'
        disabled=notUsingDateRange
        class='adv-search-field'
        updatedDate='onStartDate'}}
        {{custom-date-picker
          btnLabel='End'
          disabled=notUsingDateRange
          class='gap1 adv-search-field'
          updatedDate='onEndDate'}}
      </div>
      <div class="ui field gap1" >
        <span class="menu-label ">Estimated Production Date</span><br/>
        {{custom-date-picker
          btnLabel=''
        disabled=notUsingEstProdDate
        class='adv-search-field'
        updateDate='onEstProductionDate'}}
      </div>

      <div class="divider gap1"></div>

      <div class="ui field">
        <div class="row ui buttons gap1">
          {{ui-radio
            name="sStatus"
            current=searchedStatus
            class="make-me-button button"
            label="Backburner"
            value="Backburner"
            onChange=(action (mut searchedStatus))}}

          {{ui-radio
            name="sStatus"
            current=model.status
            class="make-me-button button"
            label="Won"
            value="Won"
            onChange=(action (mut searchedStatus))}}

          {{ui-radio
            name="sStatus"
            current=model.status
            class="make-me-button button"
            label="Lost"
            value="Lost"
            onChange=(action (mut searchedStatus))}}
        </div>
        <!-- <div class="ui buttons gap1">

          <button class="ui button">Won</button>
          <button class="ui button">Lost</button>
          <button class="ui button">Backburner</button>
        </div> -->
      </div>
      <div class="ui field">
        <br/>
        <div class="ui buttons fluid gap1">
          {{ui-radio
            name="sState"
            current=searchedState
            class="make-me-button button"
            label="Open"
            value="Open"
            onChange=(action (mut searchedState))}}

          {{ui-radio
            name="sState"
            current=searchedState
            class="make-me-button button"
            label="Closed"
            value="Closed"
            onChange=(action (mut searchedState))}}
          <!-- <button class="ui button">Open</button>
          <button class="ui button">Closed</button> -->
        </div>
      </div>

    </div>

  {{/ui-dropdown}}
{{/ui-search}}
