<table class="ui table ui-table">

  <thead>
    <tr>
      <th>NAO #</th>
      <th>Sales Person</th>
      <th>Revenue</th>
      <th>Prod Type</th>
    </tr>
  </thead>

  <tbody>
    {{#each model as |opp|}}
      <tr>
        <td>
          {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
            {{opp.id}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
            {{opp.apemSalesPerson}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
            {{currency-format opp.potentialAnnualRev}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
            {{opp.productType}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
    {{infinity-loader infinityModel=model}}
  </tbody>

</table>
