{{input type="button"
  value="Delete User"
  class="ui right floated small button"
  click=(action "openConfirmation") disabled=isDisabled}}

{{#ui-modal name="user-invite-form" class="modal" }}
  <div class="header">{{title}}</div>
  <div class="content">
    <p>{{message}}</p>
  </div>
  <div class="actions">
    <div class="ui positive right floated button" {{action 'approveDelete'}}>Ok</div>
    <div class="ui negative right floated button" {{action 'cancelConfirm'}}>Cancel</div>
  </div>
{{/ui-modal}}
{{yield}}
