<button class="ui small button del-btn {{if isDisabled 'disabled'}}" {{action 'openConfirmation'}}>
  <i class="trash icon"></i>Delete {{recordType}}
</button>

{{#ui-modal name="confirm-delete" class="modal confirm-delete-modal" }}
  <div class="header">{{title}}</div>
  <div class="content">
    <p>{{message}}</p>
  </div>
  <div class="actions">
    <div class="ui positive right floated button" {{action 'approveDelete'}}>Ok</div>
    <div class="ui negative right floated button" {{action 'cancelConfirm'}}>Cancel</div>
  </div>
{{/ui-modal}}
{{yield}}
