<form class="ui form">
  <!-- HEADER -->
  <div class="top attached header">
    <h3 class="ui left floated header">NAO #{{model.id}}</h3>
      {{#if (is-equal identity.profile.type 'Admin')}}
        {{input type="button" value="Delete" class="ui button right floated" click=(action "onDeleteOptClick")}}
      {{/if}}

      {{input type="button" value="Save as Draft" class="ui button right floated" click=(action "updateOpportunity")}}
      {{input type="button" value="Save" class="ui button right floated" click=(action "updateOpportunity")}}

      {{#link-to 'opportunities' tagName='div' class="ui button right floated" activeClass="" click=(action 'onCancelOptClick')}}
        Cancel
      {{/link-to}}

  </div>

  <!-- STEPS FIELD -->
  {{opportunities/stage-step stageSteps=stages opt=model}}

<!-- STATUS FIELD -->
  <div class="field gap1">
    <label>Status</label>
    <div class="ui buttons status-group-btns">
      {{input type="button" name="status" value="Backburner" class="ui button" click=(action (mut model.status) value="target.value") }}
      {{input type="button" name="status" value="Won" class="ui button" click=(action (mut model.status) value="target.value") }}
      {{input type="button" name="status" value="Lost" class="ui button" click=(action (mut model.status) value="target.value") }}
    </div>
  </div>

  {{#if fieldsByGroup}}
    {{#each fieldsByGroup as |group|}}
      <h3 class="ui dividing header">{{group.value}}</h3>
      <ul>
        {{#each group.items as |field|}}
          <div class="field">
            <label>{{field.label}}</label>
            {{#if (is-equal field.type 'dropdown')}}
              {{#ui-dropdown class="fluid selection" selected=field.value onChange=(action (mut field.value)) required=field.required}}
                <i class="dropdown icon"></i>
                <div class="default text">Select Value</div>
                <div class="menu">
                  {{#each field.options as |item|}}
                    <div class="item" data-value="{{item}}">
                      {{item}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
            {{else}}
              {{input name=field.name value=(mut (get model field.name)) type="text" required=field.required}}
            {{/if}}
          </div>
        {{/each}}
      </ul>
    {{/each}}
  {{else}}
    <span>Loading Fields...</span>
  {{/if}}
  <!-- <ul>
    {{#each-in attributes as |key value|}}
    <div class="field">
      <label>{{key}}</label>
      {{input type="text" name=key value=value}}
    </div>
    {{/each-in}}
  </ul> -->
</form>
{{yield}}
