{{ui-layout/nav-hamburger}}
{{ui-layout/nav-sidebar}}

<div class="ui-main pusher pusher-window">
  <!-- Application Header -->
  {{ui-layout/nav-header}}

  <div class="ui-content fixed-content">
    <!-- Main Application Content -->
    {{outlet}}

    <!-- Modal -->
    {{outlet 'modal'}}
  </div>
</div>
