 <div clss="top attached ui menu">
   <!-- !!!!!! Uncomment the below buttons if a grid view is to be added -->
<!--  <div class="ui buttons column">
    <button class="ui labeled icon button white-button {{if (is-equal defaultView 'grid') 'active'}}" {{action 'showGridView'}}>
      <i class="block layout icon"></i>Grid
    </button>
    <button class="ui labeled icon button white-button {{if (is-equal defaultView 'list') 'active'}}" {{action 'showListView'}}>
      <i class="list layout icon"></i>List
    </button>
  </div> -->

  {{adv-search class="column inline-block" doSearch='filterOpportunities' clearSearchFilter='clearSearchFilter'}}

  <div class="ui buttons right floated download-csv-btn">
    <button id='csvBtn' class="ui button csv-btn inline block" {{action 'pullEntireCSV'}}>Download CSV</button>
    <button class="ui icon button dark-gray-bg" {{action 'pullFilteredCSV'}}>
      <i class="filter icon"></i>
    </button>
    <!-- {{#ui-dropdown class="ui floating dropdown icon button download-filter-btn"}}
      <i class="filter icon"></i>
    {{/ui-dropdown}} -->
  </div>
</div>

<br/>
<div class="ui meta">
  <span>{{model.meta.total-revenue}}</span><br/><br/>
  revenue
</div>
<div class="ui meta">
  <span>{{model.meta.total-records}}</span><br/><br/>
  deals
</div>

{{#if (is-equal defaultView 'list')}}

  <div class="opp-table">

    <table class="ui table ui-table">

      <thead>
        <tr>
          <th>NAO #</th>
          <th>Sales Person</th>
          <th>Revenue</th>
          <th>Prod Type</th>
        </tr>
      </thead>

      <tbody>
        {{#each model as |opp|}}
          <tr>
            <td>
              {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                {{opp.id}}
              {{/link-to}}
            </td>
            <td>
              {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                {{opp.apemSalesPerson}}
              {{/link-to}}
            </td>
            <td>
              {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                {{currency-format opp.potentialAnnualRev}}
              {{/link-to}}
            </td>
            <td>
              {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                {{opp.productType}}
              {{/link-to}}
            </td>
          </tr>
        {{/each}}
        {{infinity-loader infinityModel=model scrollable=".opp-table"}}
      </tbody>

    </table>

  </div>

{{/if}}

{{outlet}}
