 <div clss="top attached ui menu">
   <!-- !!!!!! Uncomment the below buttons if a grid view is to be added -->
<!--  <div class="ui buttons column">
    <button class="ui labeled icon button white-button {{if (is-equal defaultView 'grid') 'active'}}" {{action 'showGridView'}}>
      <i class="block layout icon"></i>Grid
    </button>
    <button class="ui labeled icon button white-button {{if (is-equal defaultView 'list') 'active'}}" {{action 'showListView'}}>
      <i class="list layout icon"></i>List
    </button>
  </div> -->

  {{adv-search
    class="column"
    filterParams=filterParams
    searchUsed=isFiltering
    doSearch='filterOpportunities'
    clearSearchFilter='clearSearchFilter'
    pullEntireCSV='pullEntireCSV'
    pullFilteredCSV='pullFilteredCSV'}}
</div>

<br/>
<div class="ui meta">
  <span>{{currency-format model.meta.total-revenue}}</span><br/><br/>
  revenue
</div>
<div class="ui meta">
  <span>{{model.meta.total-records}}</span><br/><br/>
  deals
</div>

{{#if (is-equal defaultView 'list')}}

    <table class="ui table ui-table table-head sortable">
      <thead>
        <tr>
          <th class="sorted" id="id_sort" {{action 'sortTable' 'id'}} style="width: 8%;">NAO #</th>
          <th class="sorted" id="created_at_sort" {{action 'sortTable' 'created_at'}}>Date Open</th>
          <th class="sorted" id="contact_name_sort" {{action 'sortTable' 'company'}}>Company</th>
          <th class="sorted" id="apem_sales_person_sort" {{action 'sortTable' 'apem_sales_person'}}>Sales Person</th>
          <th class="sorted" id="potential_annual_rev_sort" {{action 'sortTable' 'potential_annual_rev'}}>Revenue</th>
          <th class="sorted" id="product_type_sort" {{action 'sortTable' 'product_type'}}>Prod Type</th>
          <th class="sorted" id="estimated_prod_date_sort" {{action 'sortTable' 'estimated_prod_date'}}>Est. Prod Date</th>
        </tr>
      </thead>

    </table>

    <div class="opp-table">

      <table class="ui table ui-table table-body">

        <tbody class="opp-table-body">
          {{#each model as |opp|}}
            <tr>
              <td style="width: 8%;">
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.id}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{moment-format opp.createdAt 'MM/DD/YY'}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.company}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.apemSalesPerson}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{currency-format opp.potentialAnnualRev}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.productType}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{#if opp.estimatedProdDate}}
                    {{moment-format opp.estimatedProdDate 'MM/DD/YY'}}
                  {{/if}}
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
          {{infinity-loader infinityModel=model scrollable=".fixed-content"}}
        </tbody>

      </table>

    </div>

{{/if}}

{{outlet}}
