 <div clss="top attached ui menu">
   <!-- !!!!!! Uncomment the below buttons if a grid view is to be added -->
<!--  <div class="ui buttons column">
    <button class="ui labeled icon button white-button {{if (is-equal defaultView 'grid') 'active'}}" {{action 'showGridView'}}>
      <i class="block layout icon"></i>Grid
    </button>
    <button class="ui labeled icon button white-button {{if (is-equal defaultView 'list') 'active'}}" {{action 'showListView'}}>
      <i class="list layout icon"></i>List
    </button>
  </div> -->

  {{adv-search
    class="column"
    filterParams=filterParams
    searchUsed=isFiltering
    doSearch='filterOpportunities'
    clearSearchFilter='clearSearchFilter'
    pullEntireCSV='pullEntireCSV'
    pullFilteredCSV='pullFilteredCSV'}}
</div>

<br/>
<div class="ui meta">
  <span>{{currency-format model.meta.total-revenue}}</span><br/><br/>
  revenue
</div>
<div class="ui meta">
  <span>{{model.meta.total-records}}</span><br/><br/>
  deals
</div>

{{#if (is-equal defaultView 'list')}}

    <table class="ui table ui-table table-head">

      <thead>
        <tr>
          <th>NAO #</th>
          <th>Sales Person</th>
          <th>Revenue</th>
          <th>Prod Type</th>
          <th>Est. Prod Date</th>
        </tr>
      </thead>

    </table>

    <div class="opp-table">

      <table class="ui table ui-table table-body">

        <tbody class="opp-table-body">
          {{#each model as |opp|}}
            <tr>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.id}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.apemSalesPerson}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{currency-format opp.potentialAnnualRev}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{opp.productType}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "opportunities.opportunity.detail" opp class="row-link"}}
                  {{moment-format opp.estimatedProdDate 'MMMM Do, YYYY'}}
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
          {{infinity-loader infinityModel=model scrollable=".opp-table"}}
        </tbody>

      </table>

    </div>

{{/if}}

{{outlet}}
