<button class="item seamless-button" {{action 'openModal'}}>
  Manage Password
</button>

{{#ui-modal class="modal manage-password-pop" }}
  <div class="header"><i class="user icon"></i>Manage Password {{sessionUser.username}}</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>New Password</label>
        {{input name=sessionUser.password value=sessionUser.password type="password"}}
      </div>
      <div class="field">
        <label>Confirm Password</label>
        {{input name=sessionUser.passConfirm value=sessionUser.passwordVerify type="password"}}
      </div>
    </form>
  </div>
  <div class="validation-errors">
      {{error-message errors=serverErrors}}
  </div>
  <div class="actions">
    <div class="ui green right floated button" {{action 'editPassword'}}><i class="check icon"></i>Save</div>
    <div class="ui right floated button" {{action 'cancelModal'}}><i class="ban icon"></i>Cancel</div>
  </div>
{{/ui-modal}}
{{yield}}
