<button class="item seamless-button" {{action 'openModal'}}>
  Manage Password
</button>

{{#ui-modal class="ui modal manage-password-pop" }}
  <div class="header"><i class="user icon"></i>Manage Password {{sessionUser.username}}</div>
  <div class="content">

    <form class="ui form segment managePasswords" style="padding-bottom:60px;">

      <div class="field">
        <label>Password</label>
        {{input name='mpPassword' value=sessionUser.password type="password" }}
      </div>

      <div class="field">
        <label>Confirm Password</label>
        {{input name='mpPasswordVerify' value=sessionUser.passwordVerify type="password"}}
      </div>

      <div class="ui submit button right floated green" {{action 'editPassword'}}><i class="check icon"></i>Save</div>
      <div class="ui right floated button" {{action 'cancelModal'}}><i class="ban icon"></i>Cancel</div>

    </form>

  </div>

  <div class="validation-errors">
      {{error-message errors=serverErrors}}
  </div>

{{/ui-modal}}
{{yield}}
