{{#ui-content/panel-body owner=""}}

    <h3 class="title-with-icon subtitle"><i class="revegy-icon icon-detail"></i> <div>{{hover-edit-field value=model.listTitle}}</div></h3>
    <br>
    <div class="details">

        <dl>
            <dt>Description</dt>
            <dd>{{hover-edit-field linesOfText=3 value=model.description}}</dd>
        </dl>
        <dl>
            <dt>Stage</dt>
            <dd>{{hover-edit-field value=model.stage}}</dd>
        </dl>
        <dl>
            <dt>Size</dt>
            <dd>{{hover-edit-field value=model.size}}</dd>
        </dl>
        <dl>
            <dt>Start Date</dt>
            <dd>{{hover-edit-field value=model.startDate}}</dd>
        </dl>
        <dl>
            <dt>Calc. Close Date</dt>
            <dd>{{hover-edit-field value=model.calcCloseDate}}</dd>
        </dl>
        <dl>
            <dt>Estimated Close Date</dt>
            <dd>{{hover-edit-field value=model.estCloseDate}}</dd>
        </dl>
    </div>
{{/ui-content/panel-body}}

{{#ui-content/panel-footer}}
    {{ui-timestamps object=model}}
{{/ui-content/panel-footer}}
