<form class="ui form">
  <h3 class="subtitle">Edit User</h3>
  <div class="validation-errors">
      {{error-message errors=serverErrors}}
  </div>

  <div class="field">
    <label>Username:</label>
    {{input value=model.username type="text"}}
  </div>

  <div class="field">
    <label>Password:</label>
    {{input type="password" value=model.password}}
  </div>
  <div class="field">
    <label>Verify Password:</label>
    {{input type="password" value=model.passwordVerify}}
  </div>

  <div class="field">
    <label for="user_type">User Type:</label>
    {{#ui-dropdown class="search selection" allowAdditions=false selected=model.type onChange=(action (mut selectUserType)) as |execute mapper|}}
      <div class="default text">Select User Type</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each userTypes as |type|}}
          <div class="item" data-value={{type}}>
            {{type}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>

  {{#link-to 'users' tagName='div' class="ui small button" activeClass=""}}
    Cancel
  {{/link-to}}
  <div class="ui small button" {{action 'updateUser'}}>
    Edit User
  </div>
</form>
